<form onsubmit="return validateForm()">

<label>Title</label>
<input type="text" id="title">

<label>Author</label>
<input type="text" id="author">

<button type="submit">Submit</button>

</form>

<p id="error" style="color:red"></p>

<script>
function validateForm(){

let title = document.getElementById("title").value;
let author = document.getElementById("author").value;

if(title === "" || author === ""){
document.getElementById("error").innerText =
"Please fill all required fields";

return false;
}

}
</script>