<h2>Add Book</h2>

<form>

<label>Select Type</label>

<select>
<option>Book</option>
<option>Movie</option>
</select>

<label>Title</label>
<input type="text" required>

<label>Author</label>
<input type="text" required>

<label>Serial Number</label>
<input type="text" required>

<button type="submit">Submit</button>

</form>