<h2>Add Membership</h2>

<form>

<label>Name</label>
<input type="text" required>

<label>Email</label>
<input type="email" required>

<label>Membership Type</label>

<input type="radio" name="plan" checked>6 Months
<input type="radio" name="plan">1 Year
<input type="radio" name="plan">2 Years

<button>Submit</button>

</form>