<h1>Library Management System</h1>

<ul>
<li><a href="/issue-book">Issue Book</a></li>
<li><a href="/return-book">Return Book</a></li>
<li><a href="/pay-fine">Pay Fine</a></li>
<li><a href="/add-membership">Add Membership</a></li>
<li><a href="/add-book">Add Book</a></li>
<li><a href="/maintenance">Maintenance</a></li>
<li><a href="/reports">Reports</a></li>
<li><a href="/transactions">Transactions</a></li>

<li><a href="/add-book">Add Book</a></li>
<li><a href="/issue-book">Issue Book</a></li>
<li><a href="/return-book">Return Book</a></li>
<li><a href="/pay-fine">Pay Fine</a></li>
<li><a href="/add-membership">Add Membership</a></li>
<link rel="stylesheet" href="/style.css">
</ul>