<h2>Issue Book</h2>

<form>

<label>Book Name</label>
<input type="text" required>

<label>Author</label>
<input type="text" value="Auto Filled" readonly>

<label>Issue Date</label>
<input type="date" id="issueDate" required>

<label>Return Date</label>
<input type="date" id="returnDate">

<label>Remarks</label>
<input type="text">

<button>Submit</button>

</form>

<script>

let today = new Date().toISOString().split("T")[0];
document.getElementById("issueDate").min = today;

document.getElementById("issueDate").addEventListener("change", function(){

let issue = new Date(this.value);

let returnDate = new Date(issue);

returnDate.setDate(issue.getDate()+15);

document.getElementById("returnDate").value =
returnDate.toISOString().split("T")[0];

});

</script>