<link rel="stylesheet" href="/style.css">

<div class="container">

<h2>Maintenance Menu</h2>

<ul>
<li><a href="/add-membership">Add Membership</a></li>
<li><a href="/update-membership">Update Membership</a></li>
<li><a href="/add-book">Add Book/Movie</a></li>
<li><a href="/update-book">Update Book/Movie</a></li>
</ul>

<a href="/home">Back</a>