<link rel="stylesheet" href="/style.css">

<div class="container">

<h2>Reports Menu</h2>

<ul>

<li><a href="/active-issues">Active Issues</a></li>

<li><a href="/membership-list">Master List of Memberships</a></li>

<li><a href="/movies-list">Master List of Movies</a></li>

<li><a href="/books-list">Master List of Books</a></li>

<li><a href="/overdue-returns">Overdue Returns</a></li>

<li><a href="/pending-requests">Pending Issues Request</a></li>

</ul>

<a href="/home">Back</a>

</div>