<h2>Reports Module</h2>

<ul>
<li><a href="/search-book">Search Books</a></li>
<li><a href="/issue-book">Issued Books</a></li>
<li><a href="/return-book">Returned Books</a></li>
</ul>

<a href="/home">Back to Home</a>