<link rel="stylesheet" href="/style.css">

<div class="container">

<h2>Return Book</h2>
<form action="/pay-fine">

<label>Book Name</label>
<input type="text" required>

<label>Serial Number</label>
<input type="text" required>

<button type="submit">Confirm Return</button>

</form>