<h2>Search Results</h2>

<table border="1">

<tr>
<th>Book</th>
<th>Author</th>
<th>Available</th>
<th>Select</th>
</tr>

<tr>
<td>Harry Potter</td>
<td>JK Rowling</td>
<td>Yes</td>
<td><input type="radio" name="select"></td>
</tr>

</table>