
<link rel="stylesheet" href="/style.css">

<div class="container">

<h2>Transactions</h2>

<ul>

<li><a href="/check-availability">Check Book Availability</a></li>

<li><a href="/issue-book">Issue Book</a></li>

<li><a href="/return-book">Return Book</a></li>

</ul>