
<h2>Transactions Module</h2>

<ul>

<li><a href="/issue-book">Issue Book</a></li>
<li><a href="/return-book">Return Book</a></li>
<li><a href="/pay-fine">Pay Fine</a></li>

</ul>

<a href="/home">Back to Home</a>