<h2>Update Book</h2>

<form>

<label>Type</label>
<input type="radio" name="type" checked>Book
<input type="radio" name="type">Movie

<br><br>

<label>Book Title</label>
<input type="text" required>

<br><br>

<label>Author</label>
<input type="text" required>

<br><br>

<label>Price</label>
<input type="number" required>

<br><br>

<button type="submit">Update</button>

</form>