<link rel="stylesheet" href="/style.css">

<div class="container">

<h2>Update Membership</h2>

<form>

<label>Membership Number</label>
<input type="text" required>

<br><br>

<label>Name</label>
<input type="text">

<br><br>

<label>Extend Membership</label>

<input type="radio" name="plan" checked>6 Months
<input type="radio" name="plan">1 Year
<input type="radio" name="plan">2 Years

<br><br>

<label>Cancel Membership</label>
<input type="checkbox">

<br><br>

<button type="submit">Update</button>

</form>